<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="script">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script th:src="@{/js/page/user/calendar.js}"></script>
</th:block>

<div layout:fragment="content">
    <h1>Calendar Page</h1>
    <div id="calendar"></div>
</div>


</html>