<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="container">
  <form method="post">
    <div class="form-group">
      <div class="form-floating mb-3">
        <input readonly type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com" th:value="${member.email}">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" name="username" class="form-control" id="floatingUsername" placeholder="홍길동" th:value="${member.username}">
        <label for="floatingInput">User name</label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
</body>
</html>