<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="container">
  <form method="post">
    <div th:if="${errorMessage != null}" th:text="${errorMessage}"></div>
    <div class="form-group">
      <div class="form-floating mb-3">
        <input readonly type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com" th:value="${member.email}">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="홍길동">
        <label for="floatingInput">기존 Password</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" name="changePassword" class="form-control" id="floatinChangePassword" placeholder="홍길동">
        <label for="floatingInput">바꿀 Password</label>
      </div>
    </div>
    <th:block th:if="${valid_password != null}">
      <div>
        <label for="floatingInput" th:text="${valid_password}"></label>
      </div>
    </th:block>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
</body>
</html>