<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
<!--  <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
<!--  <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<div layout:fragment="content">
  <h1>content</h1>
  <div>
    메인 화면입니다. 회원가입을 하고 나면 다시 메인 화면으로 이동합니다.<br/><br/>

    메인화면에서 로그인 버튼을 누른 후 로그인 하면 메인화면으로 돌아옵니다. <br/>
    하지만 user 페이지 이동 버튼을 눌러서 다시 로그인을 하면 user 화면으로 이동합니다.<br/>
    <form action="/user" method="get">
      <button>user 페이지 이동</button>
    </form>
    <form action="/join" method="get">
      <button>회원가입</button>
    </form>
    <form action="/login" method="get">
      <button>로그인</button>
    </form>
  </div>
</div>


</html>